<div class='row'>
<%= form.label :nickname %>
<%= form.text_field :nickname %>
</div>
<div class='row'>
<%= form.label :email %>
<%= form.text_field :email %>
</div>
<div class='row'>
<%= form.label :password, form.object.new_record? ? nil : "Change password" %>
<%= form.password_field :password %>
</div>
<div class='row'>
<%= form.label :password_confirmation %>
<%= form.password_field :password_confirmation %>
</div>
<div class='row'>
<%= form.label :avatar %>
<%= form.file_field :avatar %>
</div>
