<a name="fb_share" type='button_count' share_url="<%=external_url(@poll.uniqueid)%>"></a> 
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript">
</script>

<div class='active_poll'>
	<div class='poll_description'>
		<%= @poll.description %>
	</div>
	<h2><%= @poll.question %></h2>
	<div class='options'>
		<% 
		options = @poll.options
		totalVotes = 0
		options.each do |option|
	 		totalVotes = totalVotes + option.counter			
		end %>
		<% totalVotes = 1 if totalVotes == 0%>
		<% options.each do |option| %>
			<div class='option'><%= option.name%> | <%= option.counter %> | <%= (option.counter*100)/totalVotes %>%</div>
		<% end %>
	</div>
</div>

<h3>Add your comment</h3>
<% if current_user.nil? %>
 Please <%= link_to 'login', login_path %> or <%= link_to 'Register', new_account_path %> to comment.
<% else %>
<div class='discussion_form'>
	<% form_tag discussion_path(@poll.uniqueid) do |f| %>
		<div class='row'>
			<%= text_area_tag 'text', nil, :rows => 3, :cols => 77%>
		</div>
		<div class='row'>
			<%= submit_tag 'Post Comment'%>
		</div>
	<% end %>
</div>
<% end %>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
//http://code.google.com/apis/ajax/playground/#topics
//http://code.google.com/apis/ajaxsearch/documentation/newsshow/
google.load("elements", "1", {packages : ["newsshow"]});

function onLoad() {
  // Set the queries to USC Football and NHL
  var options = {
    "queryList" : [
      {
        "title" : "Great Football",
        "q" : "USC Football"
      },
      {
        "q" : "NHL"
      }
    ]
  }
  var content = document.getElementById('newscontent');
  var newsShow = new google.elements.NewsShow(content, options);
}

google.setOnLoadCallback(onLoad);
</script>

<div id='newscontent'>
</div>

<% @discussions.each do |discussion| %>
 <div class='comment'>
	<div class='details'>
		<div class='author'><strong><%= discussion.user.nickname %> </strong>Says: </div>
		<div class='time'><%= discussion.updated_at %></div>		
	</div>
	<div class='user-block'>
	<div class='user-comment'>
	<div class='author-img'><%= image_tag(current_user.avatar.url(:thumb), :height => "75px", :width => "75px", :align => "left") %></div>
	<div class='desc'><%= discussion.text %></div>
	</div>
	<div class='user-likes'>
	<div class='likes'></div>
	<div class='dislikes'></div>
	</div>
	</div>
 </div>	
<%end%>

<%= will_paginate @discussions %>