<%= render :partial => 'common/social_share', :locals => {:poll => @poll} %>

<div class='poll_meta'>
	Last Date: <%= @poll.end_date %><br>
	Status: <%= @poll.status %><br>
	Total views: <%= @poll.views%>
	Category: <%= link_to @poll.category.name, category_polls_path(@poll.category.name) %>
</div>
<div class='active_poll'>
	<div class='poll_details'>
		<% unless @poll.photo.url.ends_with?('missing.png') %>
			<%= image_tag(@poll.photo.url(:medium), :height => "200px", :width => "300px", :align => "left") %>
		<% end %>
		<div class='desc'><%= @poll.description %> </div>
	</div>
	
<% if @poll.is_active and pc_read.include?(@poll.id.to_s) %>
	<%= render :partial => 'common/show_poll', :locals => {:poll => @poll}%>
<% else %>
	<%= render :partial => 'common/show_poll_result', :locals => {:poll => @poll}%>
<% end %>
</div>

<h3>Add your comment</h3>
<% if current_user.nil? %>
 Please <%= link_to 'login', login_path %> or <%= link_to 'Register', new_account_path %> to comment.
<% else %>
<div class='discussion_form'>
	<% form_tag discussion_path(@poll.uniqueid) do |f| %>
		<div class='row'>
			<%= text_area_tag 'text', nil, :rows => 3, :cols => 77%>
		</div>
		<div class='row'>
			<%= submit_tag 'Post Comment'%>
		</div>
	<% end %>
</div>
<% end %>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
//http://code.google.com/apis/ajax/playground/#topics
//http://code.google.com/apis/ajaxsearch/documentation/newsshow/
google.load("elements", "1", {packages : ["newsshow"]});

function onLoad() {
  // Set the queries to USC Football and NHL
  var options = {
    "queryList" : [
    {
      "title" : "<%= @poll.category.name%>",
      "q" : "<%= @poll.question %>"
    }
    ]
  }
  var content = document.getElementById('newscontent');
  var newsShow = new google.elements.NewsShow(content, options);
}

google.setOnLoadCallback(onLoad);
</script>

<div id='newscontent'>
</div>

<% @discussions.each do |discussion| %>
 <div class='comment'>
	<div class='details'>
		<div class='author'><strong><%= discussion.user.nickname %> </strong>Says: </div>
		<div class='time'><%= discussion.updated_at %></div>		
	</div>
	<div class='user-block'>
	<div class='user-comment'>
	<div class='author-img'><%= image_tag(discussion.user.avatar.url(:thumb), :height => "75px", :width => "75px", :align => "left") %></div>
	<div class='desc'><%= discussion.text %></div>
	</div>
	<div class='user-likes'>
	<div class='likes'></div>
	<div class='dislikes'></div>
	</div>
	</div>
 </div>	
<%end%>

<%= will_paginate @discussions %>