<a name="fb_share" type='button_count' share_url="<%=external_url(@poll.uniqueid)%>"></a> 
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript">
</script>

<% form_tag voting_path(@poll.uniqueid) do |f|%>
<div class='active_poll'>
	<div class='poll_description'>
		<%= @poll.description %>
	</div>
	<h2><%= @poll.question %></h2>
	<div class='options'>
		<% @poll.options.each do |option| %>
			<div class='option'><%= radio_button_tag 'option', option.id %><%= option.name%></div>
		<% end %>
	</div>
	<%= submit_tag 'vote'%>
</div>
<% end %>
<h3>Add your comment</h3>
<% if current_user.nil? %>
 Please <%= link_to 'login', login_path %> or <%= link_to 'Register', new_account_path %> to comment.
<% else %>
<div class='discussion_form'>
	<% form_tag discussion_path(@poll.uniqueid) do |f| %>
		<div class='row'>
			<%= text_area_tag 'text', nil, :rows => 3, :cols => 75%>
		</div>
		<div class='row'>
			<%= submit_tag 'Post Comment'%>
		</div>
	<% end %>
</div>
<% end %>

<% @discussions.each do |discussion| %>
 <div class='comment'>
	<div class='details'>
		<div class='author'><strong><%= discussion.user.nickname %> </strong>Says: </div>
		<div class='time'><%= discussion.updated_at %></div>		
	</div>
	<div class='author-img'><%= image_tag current_user.avatar.url(:thumb) %></div>
	<div class='desc'><%= discussion.text %></div>
	<div class='likes'></div>
	<div class='dislikes'></div>
 </div>	
<%end%>

<%= will_paginate @discussions %>