<div class='active_polls'>
	<div class='category'><strong>Category</strong>: <%= @category %></div>
	
	<% if @polls.empty? %>
		<h3>There aren't any polls in this category.</h3>
	<% end %>
	
<% @polls.each do |poll| %>
<div class='active_poll'>
	<% form_tag voting_path(poll.uniqueid) do |f|%>
		<h2><%= link_to poll.question, external_path({:uniqueid => poll.uniqueid, :category => @category, :name => poll.name}) %></h2>
		<div class='options'>
			<% poll.options.each do |option| %>
				<div class='option'><%= radio_button_tag 'option', option.id %><%= option.name%></div>
			<% end %>
		</div>
	<%= submit_tag 'vote'%> | <% if poll.discussions.count > 0 %> <%= link_to 'Join the discussion', external_path(poll.uniqueid) %> <%else%> <%= link_to 'Be First to comment on Poll', external_path({:uniqueid => poll.uniqueid, :category => @category, :name => poll.name}) %> <%end%>
	<% end %>
</div>
<% end %>

<%= will_paginate @polls %>

</div>