<h2><%= poll.question %></h2>
<div class='options'>
	<% 
	options = poll.options
	totalVotes = 0
	options.each do |option|
 		totalVotes = totalVotes + option.counter			
	end %>
	<% totalVotes = 1 if totalVotes == 0%>
	<% options.each do |option| %>
		<div class='option'><%= option.name%> | <%= option.counter %> | <%= (option.counter*100)/totalVotes %>%</div>
	<% end %>
	Total Votes: <%= totalVotes%>
</div>