<h2><%= link_to poll.question, external_path({:category => poll.category.name,:uniqueid => poll.uniqueid, :name => poll.name}) %></h2>
<div class='options'>
	<% totalVotes = get_total_votes(poll)
	   totalVotes = 1 if totalVotes == 0
	   poll.options.each do |option| 
	   vote_percentage = (option.counter*100)/totalVotes
	%>	
		<div class="option"><span class='text'><%= option.name%></span><span class='tvotes' style='background-color:lightblue; padding: 0px 5px;margin:0px 5px'><%= option.counter %> <span class='small'>votes</span></span><span class='pert'><img style='margin-right:10px;' src='/images/pert.png' width='<%= vote_percentage == 0 ? 2 : vote_percentage %>px' height='13px'><%=vote_percentage%>%</span></div>
	<% end %>
	<div class='poll_meta'>
		Total votes: <%= totalVotes %>
	</div>
</div>