<html>
<head>
  <title>
	<%= current_title %>
  </title>

<%= stylesheet_link_tag "style"  %>

<%= javascript_include_tag "jq/jquery-1.4.2"  %>
<%= javascript_include_tag "jq/application_jq"  %>
<%= javascript_include_tag "jq/jquery-ui-1.8.2.custom.min"  %>

</head>
<body>
<div id='wrapper'>	
  <div id="header">
	<div id='logo'>
		<%= image_tag 'cp-logo1.png'%>
	</div>
  </div>
 	<div id='navigation'>
 		<ul>
 			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'About Us', about_us_path %></li>
			<li><%= link_to 'Contact Us' %></li>			
 		</ul>
		<ul id='login_details'>
		 <% if current_user.nil? %>
	      	<li><%= link_to "Login", login_path %> | <%= link_to "Sign Up (new users)", new_account_path%></li>
	      <% else %>      
	      	<li>Welcome <%= current_user.email %> <%= link_to "Logout",  logout_url %></li>
	      <% end %>
		</ul>
	</div>
  <div id="page">
	<div id='main_content'>
    	<%= yield %>
	</div>
	<div id='right_section'>
		<div class='category_polls'>
			<div class='heading'>Categories</div>
			<ul>
				<% top_categories.each do |category| %>
				<li><%= link_to category, category_polls_path(category) %></li>
				<% end %>
			</ul>
		</div>
	</div>
  </div>
  <div id="footer">
    <div id='footer_content'>	
		<div id='copy'>&copy;CatyPolls 2010</div> 
		<div id='links'><%= link_to "About Us" %> | <%= link_to "Contact Us" %></div>
	</div>
  </div>
</div>
</body>
</html>