<html>
<head>
  <title>

  </title>
</head>
<body>
  <div id="header">
    <div class="header_login">
      <%= link_to "Home", root_path %> |
     <% if current_user.nil? %>
      <%= link_to "Login", login_path %>
      <% else %>      
      <%= link_to "Logout",  logout_url %>
      <% end %>
    </div>
  </div>
  <div id="page">
    <%= yield %>
  </div>
  <div id="footer">
    <%= link_to "About Us" %> | <%= link_to "Contact Us" %>
  </div>
</body>
</html>